$text: #1a1b25;
$text-light: #2a2c3c;
$bg: #efefef;
$bg-dark: #e0e0e0;
$grey: #cccccc;
$marker: #509e2f;

$transition-short: all 0.1s ease-in-out;
$transition-medium: all 0.2s ease-in-out;
$transition-long: all 0.4s ease-in-out;
